body {
    background-image: url("../../img/mirage.png");
    background-attachment: fixed;
    background-size: cover;

}
#überschrift {
    text-align: center;
    Color: white;
}
#überschrift a {
    text-decoration: none;
    Color: white;
}