#überschrift {
    text-align: center;
    Color:black;
}
#überschrift a {
    text-decoration: none;
    Color:rgb(201, 141, 14);
}
body {
    background-image: url("../../../img/cobble.png");


}
section {
    text-align: center;
}
